/* Color */

$theme-colors: (
  "secondary": #5C7791,
  "info": #87A0B1,
);

//Egne farver
$col-bluegrey: #203A55;
$col-yellow: #F8D02B;

/* Navbar-link */
$navbar-light-color:                rgba($col-bluegrey, .5);
$navbar-light-hover-color:          rgba($col-bluegrey, .7);
$navbar-light-active-color:         rgba($col-bluegrey, .9);


// Dine ændringer skal være før bootstrap importen
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font-header: "Roboto", serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
}

h2{
  color: $col-bluegrey;
  font-weight: bold;
}

h3{
  color: lighten( $col-bluegrey, 10% );
  font-size: 25px;
}

/* Mixins */

.btn {
  border: 2px solid $col-yellow;
  @include hover {
    border-width: 4px;
  }
}
